.lip{
    width: 100%;
    background-image: url(../../assets/cover4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding: 10px 0px 60px 0px;
    border-radius: 10px;
    height: 80vh;
}
.lip button{
    border: 1px solid white;  
    color: white;
    padding: 5px 20px 5px 20px;
    border-radius: 60px;
}
@media (max-width:764px) {
    .lip h1{
        width: 100%;
    }
    .lip{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}